@import 'variable';

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper {
    max-width: 1200px;
    margin-inline: auto;
}

body {
    font-family: $content-font;
    background-color: $bg-color;
}

h1,
h2,
h3,
h4 {
    font-family: $heading-font;
}

img {
    max-width: 100%;
}

@mixin primary-btn {
    padding: 18px 30px;
    font-family: $content-font;
    color: $light;
    background-color: $primary-color;
    text-decoration: none;
    border-radius: 5px;
    transition: $normal-effect;

    &:hover {
        background-color: $light;
        color: $primary-color;
    }
}