@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@400;700&family=Inter:wght@400;700&display=swap');

// typography
$heading-font: 'Cormorant', sans-serif;
$content-font: 'Inter', sans-serif;

// colors variable
$light: #fff;
$content-color: #9093AD;
$primary-color: #FF6320;
$bg-color: #100028;

// utilitz
$normal-effect: 300ms ease-out;
$shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);